name: actions

on: push

jobs:
  dycrypt:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v1
      - name: dycrypt
        env:
          password: ${{ secrets.PASS }}
        run: |
          gpg --quiet --batch --yes --decrypt --passphrase="$password"
          --output $HOME/secret.json secret.gpg
      - name: read
        run: cat $HOME/secret.json
